<h1>Hurrah!<i class="em em---1"></i></h1>
<h1><p>The word <u><%= @word %></u> was found <u><%= @count %></u> times in the phrase you provided!</p></h1>

<br>
<p>Wanna go <a href="javascript:javascript:history.go(-1)">back and edit?</a></p>
<p>Or try ALEXA <a href="/form">again</a> with something different!</p>
