<h1><p>The word <u><%= @word %></u> was found <u><%= @count %></u> times in the phrase you provided!</p></h1>

<br>
<p>Wanna go <a href="javascript:javascript:history.go(-1)">back?</a></p>
<p>Or run ALEXA <a href="/form">again</a> with something different!</p>
