<h1 class="text-center">Hello!<i class="em em-grinning"></i></h1>
<h2 class="bg-info text-red text-center">I am ALEXXA<i class="em em-princess"></i></h2>
<h3>Click <a href="/form">here</a> to continue with me on this journey of word occurence counting</h4>
<br><br>
Click <a href="https://facebook.com">here</a> to instead go to Facebook.
